:root {
  --main-color: #ff9800;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: auto;
}

/*  settings box  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ start*/
.settings-box {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  min-height: 100vh;
  transition: 0.3s;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  top: 100px;
  right: -30px;
  color: #ccc;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}

.settings-box .toggle-settings i {
  padding: 8px 0;
  width: 30px;
}

.settings-box .option-box {
  background-color: #eee;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 12px;
}

.settings-box .option-box .color-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.settings-box .option-box .color-list li {
  display: inline-block;
  padding: 10px;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  /* opacity: 0.5; */
  cursor: pointer;
  border: 3px solid transparent;
}

.settings-box .option-box .color-list li.active {
  /* opacity: 1; */
  border-color: #eee;
}
.settings-box .option-box .color-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .color-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .option-box .color-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .color-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .color-list li:nth-child(5) {
  background-color: #4caf50;
}

/* Random Background +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Start */
.option-box span {
  /* margin-top: 10px; */
  display: inline-block;
  width: 50px;
  background: #009688;
  color: #fff;
  padding: 4px 10px;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}

.option-box span.active {
  opacity: 1;
}

/* Random Background +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ End */

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Reset Start */
.reset-settings {
  padding: 5px 10px;
  width: 80%;
  margin: 10px auto;
  display: block;
  background-color: #f44336;
  color: #fff;
  outline: 0;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Reset End */
/* Settings box End */

/* Nav bullets start ++++++++++++++++++++++++++++ */
.nav-bullets {
  position: fixed;
  z-index: 1000;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--main-color);
  /* background-color: var(--main-color); */
  margin: 10px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}

.nav-bullets .bullet .tooltip {
  position: absolute;
  width: 100px;
  top: -8px;
  right: 30px;
  padding: 8px 10px;
  background-color: var(--main-color);
  color: #fff;
  text-align: center;
  cursor: default;
  pointer-events: none; /* to prevent clicking */
  display: none;
}
.nav-bullets .bullet .tooltip:before {
  content: "";
  position: absolute;
  /* width: 15px; */
  /* height: 15px; */
  border-color: transparent transparent transparent var(--main-color);
  border-width: 10px;
  border-style: solid;
  /* background-color: #555; */
  top: 50%;
  transform: translateY(-50%);
  right: -20px;
}

/* Nav bullets End ++++++++++++++++++++++++++++ */

/*  settings box  +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ End*/

.landing-page {
  min-height: 100vh;
  background-image: url("../imgs/00.jpg");
  background-size: cover;
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

.header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}

.header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}

.header-area .links {
  /* display: none; */
  list-style: none;
  /* width: 100%; */
  text-align: right;
  padding-left: 0;
}

.header-area .links li {
  display: inline-block;
  margin-left: 10px;
}

.header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.header-area .links li a.active,
.header-area .links li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}

.introduction {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 2;
  width: 95%;
}
.introduction .hamdy-img {
  width: 100px;
  border-radius: 50%;
}
.introduction h1 {
  font-size: 34px;
  margin: 0 0 12px;
}

@media (max-width: 575px) {
  .introduction h1 {
    font-size: 26px;
  }
}

.introduction h1 span {
  color: var(--main-color);
}

.introduction p {
  line-height: 1.6;
  font-size: 20px;
}

.header-area .toggle-menu {
  display: none;
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  position: relative;
}

.header-area .toggle-menu.menu-active:before {
  content: "";
  position: absolute;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  top: 21px;
  left: 50%;
  margin-left: -10px;
}
.header-area .toggle-menu:focus {
  outline: none;
}

.header-area .toggle-menu span {
  display: block;
  margin-bottom: 3px;
  background-color: #fff;
  /* width: 100%; */
  height: 4px;
}

/* about us +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ start */
.about-us {
  padding: 50px 0;
  /* width: 1170px; it makes flex:1; doesn't work*/
  display: flex;
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .img-box {
  flex: 1;
  text-align: center;
}
.about-us .img-box img {
  width: 250px;
}

@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
  .about-us .info-box p {
    padding: 0;
    text-align: center;
  }
}

/* about us +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ End */

/* Skills +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Start */
.skills {
  background: #eee;
  /* color: var(--main-color); */
  /* overflow: hidden; question: why Do I need it here to have margin effect on skill-box before I use position */
  padding: 50px 0;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
  margin: 0 0 50px;
}
.skills .skill-box {
  background: #fff;
  display: flex;
  padding: 15px;
  margin: 20px;
  /* margin-bottom: 20px; */
  overflow: hidden;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
}
.skills .skill-box span {
  /* display: inline-block; */
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  transition: all 0.5s;
}

/* for medium and mobile */
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
    text-align: center;
  }

  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* Skills +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ End */

/* Gallery +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Start */
.gallery {
  padding: 50px 0;
  text-align: center;
}

.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
  margin: 0 0 50px;
}

.gallery .img-box {
  text-align: center;
}
.gallery .img-box img {
  width: 200px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

/* Gallery +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ End */
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1001;
}

.popup-overlay img {
  max-width: 100%;
}

.popup-overlay h3 {
  text-align: center;
  margin: 0 0 20px;
  font-weight: bold;
  color: var(--main-color);
}

.close-btn {
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #ccc;
  padding: 3px;
  cursor: pointer;
  font-weight: bold;
}
/* Timeline +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Start */
.timeline {
  padding: 30px 0;
  background: #eee;
  /* position: relative; */
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}

.timeline .timeline-content:before {
  /* the vertical line */
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  top: 0;
  left: 50%;
  /* border: 1px solid var(--main-color); */
  margin-left: -1px;
}

.timeline .timeline-content .year {
  position: relative;
  margin: 20px auto;
  width: 50px;
  background-color: var(--main-color);
  /* left: calc(50% - 20px); */
  /* top: -10px; */
  z-index: 2;
  text-align: center;
  border-radius: 4px;
  color: #fff;
}

.timeline .left,
.timeline .right {
  width: calc(50% - 25px); /* -25 to make it away from the year box */
  margin-bottom: 40px;
  position: relative;
  :both ;
  position: relative;
}
.timeline .left {
  float: left;
}
.timeline .left:before,
.timeline .right:before {
  /* the circule in the line */
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--main-color);
  top: 20px;
  right: -35px;
  border-radius: 50%;
}
.timeline .right:before {
  left: -35px;
}

.timeline .right {
  float: right;
}

.timeline .content {
  background-color: #fff;
  padding: 20px;
}
.timeline .left .content:before,
.timeline .right .content:before {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 10px;
  top: 20px; /* as .left and .right top */
  height: 0;
  width: 0;
}
.timeline .left .content:before {
  border-color: transparent transparent transparent #fff;
  right: -20px;
}
.timeline .right .content:before {
  border-color: transparent #fff transparent transparent;
  left: -20px;
}

.clear-fix {
  clear: both;
}

@media (max-width: 767px) {
  .nav-bullets .bullet:hover .tooltip {
    display: none;
  }
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: calc(100% - 20px);
    margin-bottom: 20px;
  }
  .timeline .left .content::before,
  .timeline .right .content::before {
    /* the side arrow */
    display: none;
  }

  .timeline .left:before,
  .timeline .right:before {
    /* the circule in the line */
    display: none;
  }
}

/* features Start */
.features {
  padding: 30px;
  /* overflow: hidden; another way to fix float effect  */
}
.features h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  text-align: center;
  margin: 0 0 60px;
}
.features .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
  margin-bottom: 40px;
}
.features .feat-box h4 {
  position: relative;
  font-size: 22px;
  margin: 15px 0 40px;
}

.features .feat-box h4:before {
  content: "";
  position: absolute;
  width: 40px;
  height: 4px;
  bottom: -22px;
  left: 50%;
  margin-left: -20px; /* half width to make it center*/
  background-color: var(--main-color);
}
.features .feat-box img {
}
.features .feat-box p {
  width: 80%;
  color: #706f6f;
  margin: 0 auto;
  line-height: 1.7;
}

@media (max-width: 767px) {
  .features .feat-box {
    float: none;
    width: 100%;
  }
}
/* features End */
/* Timeline +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ end */

/* testemonials +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Start */
.testemonials {
  min-height: 600px;
  position: relative;
  padding: 60px 0;
}
.testemonials h2 {
  position: relative; /* it doesn't show unless I add position here and z-index*/
  z-index: 2;
  color: #fff;
}
.testemonials:before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--main-color);
}
.testemonials:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #333;
}

.testemonials .ts-box {
  position: relative;
  z-index: 2;
  width: calc(98% / 3);
  background-color: #fff;
  float: left;
  padding: 20px;
  font-size: 22px;
  /* padding: 10px; */
}

.testemonials .ts-box:not(:last-of-type) {
  margin-right: 1%;
}
.testemonials .ts-box > p {
  font-size: 18px;
  line-height: 1.5;
  color: #707070;
  margin: 0 0 20px;
  font-style: italic;
}
.testemonials .ts-box .person-info {
  /* margin-top: 20px; */
  overflow: hidden;
}
.testemonials .ts-box .person-info img {
  float: left;
  border-radius: 50%;
  margin-right: 20px;
}
.testemonials .ts-box .person-info h4 {
  margin: 14px 0 10px;
  font-weight: bold;
  font-size: 16px;
}
.testemonials .ts-box .person-info p {
  margin: 0;
  font-size: 12px;
  color: #707070;
}

@media (max-width: 767px) {
  .testemonials .ts-box {
    float: none;
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
}
/* testemonials +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ end */

/* contact-us +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ Start */
.contact-us {
  min-height: 600px;
  background-image: url("");
  background-size: cover;
  padding: 80px 0;
  position: relative;
}
.contact-us .overlay {
  position: absolute;
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: rgba(255, 255, 255, 0.6);
  /* background-color: rgb(255, 255, 255); */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
}
.contact-us .container {
  /* position: relative;
  z-index: 1000; */
}
.contact-us h2 {
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
  margin: 0 0 60px;
  text-align: center;
}

.contact-us form {
  display: flex;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
}
.contact-us form .left {
  width: 49%;
}
.contact-us form .right {
  width: 49%;
}
.contact-us form input:not([type="submit"]),
.contact-us form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}
.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact-us form input {
  height: 40px;
}
.contact-us form textarea {
  height: 150px;
}
.contact-us form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}

.contact-us form input:not([type="submit"]):focus::placeholder,
.contact-us form textarea:focus::placeholder {
  opacity: 0;
  transition: 0.8s;
}

/* contact-us +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ End */

@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }

  .header-area .toggle-menu {
    display: inline-block;
  }

  .header-area .links.open {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    text-align: left;
  }
  .header-area .links.open li {
    display: block;
    margin: 10px;
  }
  .header-area .links.open a {
    color: var(--main-color);
    font-weight: bold;
  }
}

@media (max-width: 575px) {
  /* small devices => andscape phoens*/
  .container {
    max-width: 95vw;
  }
}
@media (min-width: 576px) {
  /* small devices => andscape phoens*/
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  /* medim devices => tablets*/
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktop*/
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens*/
  .container {
    max-width: 1140px;
  }
}
